@use '../../variables' as vars;

.wrapper {
  padding: 0;

  cursor: pointer;
  transition: vars.$op-transition;

  &__inactive {
    background-color: vars.$colors-ui-button-alt;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: vars.$radii-button;
    box-shadow: vars.$shadow;
  }

  &__active {
    background-color: vars.$colors-red;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: vars.$radii-button;
    box-shadow: vars.$shadow;
  }

  &:hover {
    opacity: vars.$opacity;
  }
}
