@use '../../variables' as vars;

.wrapper {
  min-height: 320px;
  height: 100%;
  border-radius: vars.$radii;
  background-color: vars.$colors-ui-base;
  box-shadow: vars.$shadow;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  box-shadow: vars.$shadow;
}

.card-body {
  padding: 1rem 1.5rem 2rem;
}

.card-title {
  margin: 0;
  font-size: vars.$fs-md;
  font-weight: vars.$fw-bold;
}

.card-list {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.card-item {
  font-size: vars.$fs-sm;
  line-height: 1.5;
  font-weight: vars.$fw-light;

  & span {
    font-weight: vars.$fw-normal;
  }
}
